{% set overlay    = __SELF__.property('overlay') %}
{% set projection = __SELF__.property('projection') %}
{% set longitude  = __SELF__.property('longitude') %}
{% set latitude   = __SELF__.property('latitude') %}
{% set zoom       = __SELF__.property('zoom') %}
{% set mapWidth   = __SELF__.property('mapWidth') %}
{% set mapHeight  = __SELF__.property('mapHeight') %}

<iframe
    src    = "https://earth.nullschool.net/#current/particulates/surface/level/overlay={{ overlay }}/{{ projection }}={{ longitude }},{{ latitude }},{{ zoom }}"
    width  = "{{ mapWidth }}"
    height = "{{ mapHeight }}"
></iframe>