 {% set height     = __SELF__.property('height') %}
 {% set overlay    = __SELF__.property('overlay') %}
 {% set projection = __SELF__.property('projection') %}
 {% set mapWidth   = __SELF__.property('mapWidth') %}
 {% set mapHeight  = __SELF__.property('mapHeight') %}

<iframe
    src    = "https://earth.nullschool.net/#current/wind/{{ height }}/{{ overlay }}/{{ projection }}"
    width  = "{{ mapWidth }}"
    height = "{{ mapHeight }}"
></iframe>








{#
earth.nullschool.net/#current/wind/surface/level/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=temp/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=relative_humidity/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=precip_3hr/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=cape/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=total_precipitable_water/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=total_cloud_water/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=mean_sea_level_pressure/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=misery_index/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=off/orthographic





https://earth.nullschool.net/#current/wind/isobaric/1000hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/1000hPa/overlay=temp/orthographic
https://earth.nullschool.net/#current/wind/isobaric/850hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/700hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/500hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/250hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/70hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/10hPa/orthographic

#}