 {% set height  = __SELF__.property('height') %}

<iframe src="https://earth.nullschool.net/#current/wind/{{height}}}/orthographic" width="100%" height="480"></iframe>








{#
earth.nullschool.net/#current/wind/surface/level/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=temp/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=relative_humidity/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=precip_3hr/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=cape/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=total_precipitable_water/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=total_cloud_water/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=mean_sea_level_pressure/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=misery_index/orthographic
earth.nullschool.net/#current/wind/surface/level/overlay=off/orthographic





https://earth.nullschool.net/#current/wind/isobaric/1000hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/1000hPa/overlay=temp/orthographic
https://earth.nullschool.net/#current/wind/isobaric/850hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/700hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/500hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/250hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/70hPa/orthographic
https://earth.nullschool.net/#current/wind/isobaric/10hPa/orthographic

#}